In [1]:
from sklearn import model_selection
from sklearn import preprocessing
from sklearn import linear_model
from sklearn import metrics

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, SimpleRNN, RNN, LSTM, GRU, SpatialDropout1D

WARNING:tensorflow:From D:\Users\mata2\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [3]:
import re
import math
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler

In [4]:
import matplotlib.pyplot as plt

In [5]:
import os, os.path, sys

Pravljenje Srednje vrednosti svih putanja. Napravljena je putanja ka direktorijumu koji sadrzi podatke za X-osu bez desinhronizacije, gde je potom iterirano kroz direktorijum i pokupljene su sve informacije iz adekvatnih txt fajlova

In [6]:
path = r"podaci\0k\X"

In [7]:
dir = os.listdir(path)

In [8]:
# Inicijalizacija liste koja ce da sadrzi srednje vrednosti putanja
x_koord_average = [0 for i in range(61000)]

#iteriramo kroz sve fajlove u direktorijumu
for file in dir:
    #pravimo putanju za sve fajlove
    new_path = path + '\\' + file
    f = open(new_path, 'r', encoding='utf-8')
    temp_koordinate = f.readlines()
    f.close()
    
    #cuvamo prvih 61000 podataka
    temp_x_koord = temp_koordinate[0:61000]
    
    #skidamo \n new linove
    for i in range(len(temp_x_koord)):
        temp_x_koord[i] = temp_x_koord[i].strip('\n')
    
    #prebacujemo elemente liste u int
    temp_x_koord = [int(x) for x in temp_x_koord]
    
    #vrsimo po-kordinatno sumiranje elemenata listi
    for i in range(len(temp_x_koord)):
        x_koord_average[i] = x_koord_average[i] + temp_x_koord[i]

Napravljena je lista sumiranih svih putanja po X-osi, koju potom delimo sa brojem putanja

In [24]:
divisor = len(dir)
x_koord_average = [round(x/divisor) for x in x_koord_average]

Napravljen je pandas DataFrame gde su atributi zasebno pokrenute putanje, dok ce ciljna promenljiva da bude srednja vrednost svih putanja

In [10]:
file_names = []
for file in dir:
    file_names.append(file)

In [109]:
main_df = pd.DataFrame()
for file in file_names:
    new_path = path + '\\' + file
    main_df[file] = pd.read_csv(new_path,names = ['X osa'])

In [89]:
df = pd.read_fwf(r"podaci\0k\X\x-0k_v1.txt",names = ['X osa'])

In [91]:
df['X osa'][6499]

8520

In [107]:
df = pd.read_csv(r"test podataka.txt",names = ['X osa'])

In [108]:
df['X osa'][20000]

902222

In [21]:
main_df = main_df[0:61000]

In [14]:
#main_df = main_df.astype('int')

In [110]:
main_df.head()

,x-0k_v1.txt,x-0k_v10.txt,x-0k_v11.txt,x-0k_v12.txt,x-0k_v13.txt,x-0k_v14.txt,x-0k_v15.txt,x-0k_v16.txt,x-0k_v17.txt,x-0k_v18.txt,...,x-0k_v28.txt,x-0k_v29.txt,x-0k_v3.txt,x-0k_v30.txt,x-0k_v4.txt,x-0k_v5.txt,x-0k_v6.txt,x-0k_v7.txt,x-0k_v8.txt,x-0k_v9.txt
0,0,0.0,0,0.0,-1,-1.0,0.0,0.0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0
1,0,0.0,0,0.0,-1,-1.0,0.0,0.0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0
2,0,0.0,0,0.0,-1,-1.0,0.0,0.0,0,0,...,0,0,1,1,0,0.0,1.0,0.0,1.0,0
3,2,2.0,0,2.0,1,1.0,1.0,2.0,1,1,...,2,2,5,5,1,1.0,5.0,1.0,5.0,4
4,5,5.0,2,5.0,6,5.0,5.0,6.0,5,5,...,5,4,11,11,4,4.0,11.0,4.0,11.0,11

In [111]:
main_df['x-0k_v1.txt'][6777]

99097